
<div class="form-group">
    @Html.Label("DisciplinasPorFazer", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBox("DisciplinasPorFazer", null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.Label("DisciplinasFeitas", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBox("DisciplinasFeitas", null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Ramos", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownList("Ramos", (SelectList)ViewBag.Ramos,"Ramo", new { @class = "form-control" })
    </div>
</div>

