@model IEnumerable<WebApplication1.Models.Mensagem>

@{
    ViewBag.Title = "ListaMensagensRecebidas";
}

<h2>ListaMensagensRecebidas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Remetente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Remetente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Visualizar", "DetalhesMensagem", new { id=item.MensagemId }) 
        </td>
    </tr>
}

</table>
