@model IEnumerable<WebApplication1.Models.Proposta>

@{
    ViewBag.Title = "EliminarPropostas";
}

<h2>Eliminar Propostas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalEstagio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalEstagio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ramo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>

            @if (!item.Estado)
            {
                @Html.ActionLink("Eliminar", "EliminarProposta", new { id = item.PropostaId }, 
               new { onclick = "return confirm ('Deseja remover a proposta?');" })
            }
            else
            {
                @Html.Label("Já foi aceite")
            }


        </td>
    </tr>
}

</table>
