@model IEnumerable<WebApplication1.Models.Docente>

@{
    ViewBag.Title = "ListarDocentes";
}

<h2>ListarDocentes</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PertenceComissao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PertenceComissao)
        </td>

        @if (item.PertenceComissao)
        {
            <td>
                @Html.ActionLink("Retirar da comissao", "RetirarDaComissao", new { id = item.DocenteId }, 
               new { onclick = "return confirm ('Deseja remover o docente da Comissão?');" })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Adicionar à comissao", "AdicionarNaComissao", new { id = item.DocenteId }, null)
            </td>
        }
    </tr>
}

</table>
