@model IEnumerable<WebApplication1.Models.Proposta>
@using WebApplication1.Models
@{
    ViewBag.Title = "ListarPropostas";
}

<h2>ListarPropostas</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DropDownList("Ordenar", ((SelectList)ViewBag.TiposOrdenacao),"Ordenar",
                new { onchange = "location.href='" + @Url.Action("ListarPropostas", "Propostas", new { tipoOrdenacao = 1}) + "'" })*@
            @Html.DropDownList("Ordenar", ((SelectList)ViewBag.TiposOrdenacao), "Ordenar")
        </th>
    </tr>
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalEstagio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objetivos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalEstagio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivos)
            </td>

            <td>
                @if (User.IsInRole("Aluno"))
                {
                    if (ViewBag.PropostaDoAluno != null)
                    {
                        @Html.Label("Já tem uma aproposta atribuida")
                    }
                    else
                    {
                        if (!ViewBag.AlunoPreferencias.Contains(item.PropostaId))
                        {
                            if (ViewBag.AlunoPreferencias.Count >= Constantes.MaxCandidaturas)
                            {
                                @Html.Label("Já escedeu o limite de candidaturas: "+ Constantes.MaxCandidaturas)
                            }
                            else
                            {
                                @Html.ActionLink("Candidatar-me", "Candidatura", "Alunos", new { id = item.PropostaId },
                          new { onclick = "return confirm ('Deseja Candidatar-se?');" })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Remover", "RemoverCandidatura", "Alunos", new { id = item.PropostaId },
                           new { onclick = "return confirm ('Deseja remover a candidatura a"+item.Descricao+ "?');" })
                        }
                    }

                }
                else if (User.IsInRole("Comissao"))
                {
                    if (item.Estado && item.Alunos.FirstOrDefault() == null)
                    {

                        @Html.ActionLink("Regeitar", "RecusarProposta", new { id = item.PropostaId })

                    }
                    else if (!item.Estado)
                    {
                        @Html.ActionLink("Aceitar", "AceitarProposta", new { id = item.PropostaId })
                    }
                    else
                    {
                        @*@Html.ActionLink("Atribuir Proposta", "AtribuirProposta", "Comisao", new { id = item.PropostaId }, null)*@
                    }

                }

            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#Ordenar").on("change", function (event) {

                var value = $(this).val();
                //alert(value);
                if (value === '0') {
                    location.href = '@Url.Action("ListarPropostas", "Propostas", new { tipoOrdenacao = 0})'
                }
                else if (value === '1') {
                     location.href = '@Url.Action("ListarPropostas", "Propostas", new { tipoOrdenacao = 1})'
                } else {
                    alert("Muito Mal");
                }
            });
        });
    </script>
}
